<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value="dfc56dd244f6150ca2435f66e3bb12347d4d39e3"/>
    <add key="ConsumerSecret" value="852cb98328540cf5ccf1e443eb5aab176431c24a" />
    <add key="AccessToken" value="4d4a55448c3908480539803bd35b4eb8409ee4b0"/>
    <add key="Username" value="lvlopenbitly"/>
    <add key="Password" value="0p3Nb1Tly"/>
  </appSettings>
</configuration>